Jinja2
MarkupSafe
filelock
fsspec
gptqmodel
h5py
hdf5plugin
imageio
librosa
lmstudio
loguru
matplotlib
mpmath
natsort
networkx
ollama
packaging
pedalboard
peft
piexif
prodigy-opt
pykakasi
pyloudnorm
requests
scipy
sentencepiece
sympy
tokenizers
tqdm
